@import 'utils';

.standardDiv{
    padding-top : 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
}
.dropdownDiv{
    padding-top : 0.5rem;
    padding-bottom: 0.5rem;
    display : flex;

    .dropdown{
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
    }
}