@import 'utils';

.user{

    display: flex;
    font-weight: 200;

    .id{
        padding-top : 0.1rem;
        padding-bottom : 0.1rem;
        text-align: center; 
    }
    .iconGroup{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}