@import 'utils';

.page{
    .header{
        width : 100%;
        position : fixed;
        top : 0;
        left: 0;
        z-index: 99;
    }
    
    .mainContent{
        z-index: 10;
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: center;

        &.padding{
            padding-top: 3.5rem;
        }

        &.responsive{
            @include responsive(800px);
            @include media("<huge"){
                padding-left: 8rem;
                padding-right: 8rem;
            }
            @include media("<medium"){
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}