@import 'utils';

.page{
    .header{
        width: 100%;
        position: fixed;
        top : 0;
        left: 0;
        z-index: 99;
    }

    .content{
        z-index: 10;

        &.padding{
            padding-top: 3.5rem;
        }

        &.responsive{
            @include responsive(800px);
        }

        .add{
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

    }
}