@import 'utils';

.page{
    .header{
        width: 100%;
        position: fixed;
        top : 0;
        left: 0;
        z-index: 99;
    }

    .content{
        z-index: 10;

        &.padding{
            padding-top: 3.5rem;
        }

        &.responsive{
            width: 800px;
            margin: 0 auto;
            @include responsive();
        }

        .add{
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        .item{
            margin: 0 auto;
        }
    }
}