@import 'utils';

.page{
    header{
        width : 100%;
        position : fixed;
        top : 0;
        left: 0;
        z-index: 99;
    }

    .content{
        &.padding{
            padding-top : 3.5rem;
        }
    }
}