@import 'utils';

.search{
    padding-top : 0.5rem;
    width: 100%;
    padding-bottom: 0.5rem;
}

Input{
    width: 40rem;

    transition: width .3s ease-in-out;

    @include media("<large"){
        width: 25rem;
    }
    @include media("<medium"){
        width: 11rem;
    }
}
